
<%= form_for(order) do |f| %>

<div> Order number: <%= @order_number %></div>
<%= f.hidden_field(:order_num, :value => "#{@order_number}")%>
 <div class="field"><%= f.label :employee_id, value: "Salesman: " %>
<%= f.collection_select(:employee_id, Employee.all, :id, :name) %></div>
<div class="field"><%= f.label :customer_id, value: "Customer: " %>
<%= f.collection_select(:customer_id, Customer.all, :id, :name) %></div>

<br />
<br/>
<table style="border-spacing: 5px;">

  <tr>
    <th>Item</th>
    <th>Quantity</th>
</tr>
<tr class="spacer"><td></td></tr>
      <%= f.fields_for :line_items do |line_item| %>

    <tr>

        <%= line_item.hidden_field(:order_id, :value => order.id)%>
        <td>
         <%= line_item.collection_select(:item_id, Item.all, :id, :name) %> </td>
        <td>
        <%= line_item.number_field :quantity %></td>


      </tr>
      <% end %>


<tr class="spacer"><td></td></tr>
</table>
  <div><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>


<br /><br />

  <% end %>
