

<%= form_for(order) do |f| %>
  <br />

    <% if order.employee_id%>
    <div class="field"><%= f.label :employee_id, value: "Salesman: " %>
    <%= f.collection_select(:employee_id, Employee.all, :id, :name, {:selected => order.employee_id} ) %></div>
      <div class="field"><%= f.label :customer_id, value: "Customer: " %>
      <%= f.collection_select(:customer_id, Customer.all, :id, :name) %></div>
    <% else %>
      <div class="field"><%= f.label :employee_id, value: "Salesman: " %>
      <%= f.collection_select(:employee_id, Employee.all, :id, :id) %></div>
      <div class="field"><%= f.label :customer_id, value: "Customer: " %>
      <%= f.collection_select(:customer_id, Customer.all, :id, :id, {:selected => order.customer_id}) %></div>
    <% end %>


  <h3>Orders</h3>


  <div class="field"><%= f.fields_for :line_items do |line_item| %>
    <%= line_item.hidden_field(:order_id, :value => order.id)%>
    <p><%= line_item.label :item_id, value: "Item: " %>
      <%= line_item.collection_select(:item_id, Item.all, :id, :name) %> -
      <%= line_item.label :quantity, value: "Quantity: " %>
      <%= line_item.number_field :quantity %>
    </p>
  <% end %>
</div>
  <br /><br />
  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>
<br /><br />

<% end %>
