
<div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-left">

<h3>Item Lists</h3>
<p>Click <b style="color:green">Order Number</b> to see more details</p>
<% @orders.each do |order| %>
        <%if current_user.id == order.customer.user_id || current_user.id == order.employee.user_id %>

        <li> <%= link_to "#{order.order_num}", user_order_path(current_user_type, order.id), {:class=> "w3-bar-item w3-button", :style=>"color:green; font-size:20px"}%>
            Salesman: <%= order.employee.name%>, Customer: <%= order.customer.name%></li>


        </li>


        <br />
        <%end%>

<% end %>

  <p><%= link_to "Add Order", new_user_order_path(current_user), :class=> "w3-bar-item w3-button" %></p>
<% if current_user.admin %>
  <p><%= link_to "See Big orders list", orders_big_orders_path, :class=> "w3-bar-item w3-button" %></p>
<% end %>

</div>
</div>
