<ul>
<p>

  <li><h5>Name: <%= item.name %></h5> </li>
  <li>Type: <%= item.item_type%></li>
  <li>Description: <%= item.desc%></li>
  <li>Price: <%= item.price%></li>
  <li>Inventory: <%= item.inventory%></li>

</p>
</ul>
